.account {
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    background-color: #e4bb8b;
    border-radius: 30px;
}

.formdata {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: #ac442c;
    font-weight: 500;
    display: flex;
    justify-content: center;
}


.inputs {
    margin: 10px;
}

.label {
    height: 2rem;
    width: 12rem;
}

.label::placeholder {
    font-size: 15px;
}

.button {
    margin-left: 0.5rem;
    width: 80px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 1000;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

