.home h2{
    margin: 6rem;
}

.searchBar {
    width: 70vw;
    height: 1.5rem;
}

.button {
    height: 2rem;
}

.box {
    justify-content: center;
    width: 80vw;
    border: 1px solid gray;
    margin-bottom: 5px;
}

