.advertisement {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

h1 {
    padding: 1rem;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 80vw;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: rgba(140, 171, 190, 0.9);
}

.topRow {
    display: flex;
    flex-direction: row;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.summAndCon {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 3rem;
}

.contacts {
    margin-top: 1rem;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.description {
    margin-top: 2rem;
}

