.mainWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.background {
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
    top: 0;
    left:0;
    filter: saturate(50%);
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
}

.home h2{
    margin-top: 8rem;
    margin-bottom: 2rem;
    
}

.searchBar {
    margin-bottom: 10px; 
    border-radius: 3px;
    height: 45px;

    width: 57vw;

    border: 1px solid #8CABBE;
    display: inline-block;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease 0s;
    
  
}

.button {
    margin-left: 0.5rem;
    width: 43px;
    height: 45px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 1000;
    background-color: #8CABBE;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
}


.box {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin-top: 50px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(140, 171, 190, 0.9); 

}

.box .image {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 13px 0px 13px 13px;
}

.block {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    align-items: flex-start;
    text-align: left;
}
