.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h2{
    margin-top: 8rem;
    margin-bottom: 2rem;
    
}

.searchBar {
    width: 70vw;
    height: 1.5rem;
    margin-bottom: 10px;
}

.button {
    margin-left: 0.5rem;
    width: 35px;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 1000;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    display: flex;
    flex-direction: row;
    width: 80vw;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(237, 234, 234);
}

.box .image {
    min-width: 23%;
    max-width: 23%;
}

.block {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    align-items: flex-start;
}
