.login {
    margin-top: 30vh;
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;

    background-color: tomato;
    border-radius: 30px;
}

.loginOuter {
    width: 100vw;
    display: flex;
    justify-content: center;
    
}

.formlabel {
    
}
