.navBar {
    z-index: 99999999999;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #8CABBE; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 8rem;
    padding: 0 1rem;
}

.logo {
    margin-left: 100px;
    height: 90%;
    
}

.home {
    margin-left: 50px;
    margin-top: 2.3rem;
    color: #FFDC5E;
    font-size: 3rem;
}
