.navBar {
    z-index: 99999999999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8CABBE; 
    top: 0; 
    left: 0;
    height: 8rem;
    padding-right: 3rem;
}

.logo {
    height: 90%;
}

.home {
    margin-left: 50px;
    margin-top: 2.3rem;

    color: #CCDDB7;

    font-size: 3rem;
}
