.navBar {
    z-index: 99999999999;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #333;
    position: relative; 
    top: 0; 
    left: 0;
    width: 100%;
    position: fixed;
    line-height: 4rem;
    padding: 0 1rem;
}

.casa {
    margin-left: 10px;
    margin-top: 1.7rem;
    color: white;
}
