

.profile h2{
    
    width: 30vw;
    /* height: 50vh; */
    /* background-color: #e4bb8b; */
    border-radius: 30px;
    display: flex;
    margin-left: 400px;
    justify-content: center;
}

.personaldata {
    width: 91vw;
    height: 40vh;
    color: #ac442c;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.button {
    justify-content: center;
    width: 15%;
    height: 50px;
    margin-top: 10px;
    margin-left: 510px;
    border-radius: 3px;
    background: #e4bb8b;
    border: none;
    color: black;
    font-size: 1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease 0s;
}
  /*   margin-left: 0.5rem;
    width: 90px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 700;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    justify-content: center;
    align-items: center; */

.profile {
    margin: 6rem;
}

textarea {
    resize: none;
    height: 17vh;
    width: 30vw;
}

